@charset "utf-8";
/************* For Main Tag*************/

@media only screen and (min-width: 1200px) {
  main {
    height: 100vh;
  }

  .Schedule-Heading {
    display: flex;
    flex-direction: column;
    background-color: #053c5e;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 30%;
    color: white;
    position: fixed;
    left: 0;
  }
 
  /****************************/

  .Schedule-Context {
    margin-left: 50vw;
    background: url('../images/yoga-3053487.jpg');
    background-size:70%;
    background-repeat: no-repeat;    
    background-position-y: 5vw;
    background-attachment: scroll;
    width: 110vw;
    height: 45vw;
    display: inline-flex;
  }

  .Schedule-Detail-part {
    width: 80%;
    font-size: 15px;
    line-height: 5px;
    color:black;
    margin-left: 30vw;
  }
  .email {
    float: left;
  }

  .phone {
    float: right;
  }

  .Schedule-Calendar {
   opacity: 1;
   margin-left: -4vw;
  }

  .react-calendar {
    border-radius: 10px;
    opacity: 0.8;

  }
  .react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75em;
    color:black;
  }

  .Schedule-Form-Content{
    margin-left: 5vw;
    background-color: #053c5e;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding-top: 1vw;
    height: 36vw;
    opacity: 0.9;
  }
  .Schedule-Content{
    display: inline-flex;
    padding-top: 8vw;
    margin-left: 10vw;

  }
  .To-Signup-Schedule{
    margin-left: 3vw;
  }
}
