@charset "utf-8";
/************* For Main Tag*************/

@media only screen and (min-width: 1200px) {
  Schedule-main {
    top: 5;
    margin-top: 12.8vh;
    display: flex;
    justify-content: flex-start;
    height: 175vh;
  }

  .Schedule-Heading {
    display: flex;
    flex-direction: column;
    background-color: #053c5e;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 30%;
    color: white;
    position: fixed;
    left: 0;
  }
  .Schedule-Heading h2 {
    width: 100%;
    padding: auto;
    text-align: center;
  }

  .Schedule-Heading hr {
    width: 70%;
    display: block;
  }
  /****************************/

  .Schedule-Context {
    padding-top: 10vw;
    margin-left: 50vw;
    background: url('../images/yoga-3053487.jpg');
    background-size:70%;
    background-repeat: no-repeat;    
    background-position: right;
    background-attachment:fixed;
    width: 80vw;
    height: 47vw;
  }

  .Schedule-Content-elements {
    height: 40vh;
    width: 80%;
    display: flex;
    /*border-bottom: solid 2px#EF494E;*/
    color: white;
    justify-content: center;
    margin-left: 150px;
    padding-top: 30px;
    padding-bottom: 180px;
    top: 5;
    margin-bottom: 6rem;
  }

  .Schedule-Content-elements:first-child {
    margin-top: 15vh;
  }

  .Schedule-Detail-part {
    width: 80%;
    font-size: 15px;
    line-height: 5px;
    color:black
  }
  .email {
    float: left;
  }

  .phone {
    float: right;
  }
}
