/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	footer{
		bottom: 0;
		position:fixed;
		height: 7.0rem;
		background-color: #064b04;
		z-index: 5;
		left: 0.0rem;
		width: 100%;
	  }
	  .Footer-Site-Title{
		text-align: center;
		padding-top: 10px;
	  }
	  
	  .Department-Footer-Name{
		margin: 0;
		margin-bottom: 5px;
		height: 300px;
		display: inline;		
		text-decoration-color: white;
		padding-top: 12px;
	}

	.Department-Footer-Name h1 {
		font-size: 20px;
	}
	
	.Department-Footer-Name h3{
		font-size: 15px;
		
	}
}