.top-menu-item:not(:nth-last-child(2)){

margin-bottom: 0;



}
.top-menu-item:hover{
    color:#fff;
    text-transform:uppercase;
    font-weight:600;
    text-decoration:none;
    display:flex;
    align-items:center;


}