/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .Login-Page-Body {
    display: inline-block; 
  }

  .Login-Page-Head {
    background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    margin-left: 50vw;
    margin-top: 8vw;
    height: 36vw;
    width: 100%;
    padding-top: 6vw;
    padding-left: 10vw;
  }

  .Login-title {
    margin-left: 15vw;
    background-color: #053c5e;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 20vw;
    padding-left: 115px;
    margin-bottom: 0px;
  }

  .To-signup {
    margin-left: 15vw;
  }

  .Login-Heading{
  display: flex;
  flex-direction: column;
  background-color: #053c5e;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 30%;
  color: white;
  position: fixed;
  left: 0;
  }
}