/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .Login-Page-Body {
    display:inline-flex;   
    background-color: #053c5e;
  }

  .Login-Page-Head {
    margin-left: 500px;
    margin-top: 10vw;
    background-color: #053c5e;
    background-attachment: fixed;
    background-size:100%;
    background-repeat:no-repeat;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-top: 40px;
    }

  .Login-title {
    margin-left: 15vw;
    background-color: #f18509cc;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 20vw;
    padding-left: 90px;
    margin-bottom: 0px;
  }

  .To-signup {
    margin-left: 15vw;
  }
}