/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .Signup-main{
    display: inline-block; 
  }
  .Signup-Content{
    width: 130vw;
    height: 40.8vw;
    background-color: #053C5E;
    margin-top: 8vw;
    padding-top: 6vw;
    padding-left: 5vw;

  }


}