@charset "utf-8";
/* CSS Document */

@media only screen and (min-width: 1200px) {
  .Society-main {
    display: inline-flex;
    justify-content: flex-start;
  }

  .Society-Heading {
    display: flex;
    flex-direction: column;
    background-color: #053c5e;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 30%;
    color: white;
    position:fixed;
    left: 0px;
  }

  .Society-Heading h2 {
    width: 100%;
    padding: auto;
    text-align: center;
  }

  .Society-Heading hr {
    width: 70%;
    display: block;
  }

  .Society-Context {
    margin-left: 50vw;
    background-color: rgb(255, 255, 255);
    width: 80vw;
  }

  .Society-Content {
    background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    width: 130%;
    height: 100%;
    margin-left: -200px;
    padding-left: 30%;
    padding-top: 20%;
  }

  .Society-Content-elements {
    height: 40vh;
    width: 70%;
    display: flex;
    color: rgb(0, 0, 0);
    justify-content: center;
    margin-left: 150px;
    padding-top: 30px;
    padding-bottom: 180px;
    top: 5;
    margin-bottom: 6rem;
  }

  .Society-Content-elements:first-child {
    margin-top: 10vh;
  }

  .Society-Photo-part {
    width: 25%;
    height: 20vh;
    margin: 5px 30px 10px 0px;
  }

  .Society-Photo-part img {
    border-radius: 50%;
  }

  .Society-Detail-part {
    width: 80%;
    font-size: 15px;
    line-height: 25px;
  }
}
