/* Extra small devices (phones, 600px and down) */

  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .Main-Content{
        background-repeat: no-repeat;
        background-attachment: fixed;
        width: 100%;
        height: 300%;
        position: absolute;
        display: block;
        left: 0.0rem;
        z-index: 2;

      }

      .Above-Fold {
        background: url('../../images/Background2.jpg');
        background-size: 100%;
        background-attachment:initial;
        background-repeat: no-repeat;
        padding-top: 30%;
        height: 100%;
        width: 100%;
        text-align: center;
        color: white;
        position:absolute;
        font-size: larger;
        z-index: 5;
        display: block;
      }

      .Home-Branch-Box{

        margin: auto;
        display: flex;
        align-items: center;
        z-index: 5;
        display: block;
        width: 100%;
        height: auto;
        }

      .Branch-Box-Heading { 

     
        margin: auto;
        display: flex;
 
        padding: 20px;
        display: inline-block;
   
        width: 40vw;
        font-size: larger;
        position: absolute;
        top: 10%;
        left: 0vw;
        text-decoration: solid;
    }

    .Text-Box {
      font-size: 40px;
      color: #1b1b1be1;
    }

    /********************Announcement Home Page *********************/

    .sectionMain {

      padding-top: 50%;
      display: flex;
    }

    .month-Plan {
      padding-top: 10px;
      padding-right: 0px;
      display: inline-block;
      border-style: solid;
      background-image: linear-gradient(to top, white, rgba(92, 179, 92, 0.556));
      color: rgb(44, 186, 44);
      width: 20vw;
      height: 600px;
      top: 0px;
      left: 500px;
      position: relative;
      font-size: larger;
      left: 25vh;
      text-decoration: solid;
      border-radius: 6px;
    }

    .annual-Plan {
        padding-top: 10px;
        padding-right: 0px;
        display: inline-block;
        border-style: solid;
        background-image: linear-gradient(to top, white, rgba(92, 179, 92, 0.556));
        color: rgb(44, 186, 44);
        width: 20vw;
        height: 600px;
        top: 0px;
        right: 510px;
        position: relative;
        font-size: larger;
        left: 25vw;
        text-decoration: solid;
        border-radius: 6px;
    }


  
  }


  



  
  
  