/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .Contact-Form {
    margin-left: 12vw;
    width: 20vw;
    border-radius: 8px;
    padding-top: 18px;   
    border-color: black;
    border-width: 2px; 
    margin-top: -3vw;
  }

  .Contact-Inputs {
    width: 20vw;
    height: 2vw;
  }
  .Contact-title {
    margin-left: -1vw;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 20vw;
    padding-left: 115px;
    margin-bottom: 0px;
  }
}