/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .Login-Form {
    margin-left: 15vw;
    width: 20vw;
    background-color: #053c5e;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-top: 15px;   
    border-color: black;
    border-width: 2px; 
  }

  #username {
    width: 20vw;
    margin-left: 0vw;
    padding-left: 20px;
    height: 3vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 0px;
    border-color: black;
    border-width: 2px;
  }
  #password {
    width: 20vw;
    height: 3vw;
    border-radius: 0px;
    border-color: black;
    border-width: 2px;
    padding-left: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
}
