/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .Schedule-Form {
     padding-top: 1vw;
     border-radius: 20px;
     width: 20vw;
  }
  #email{
    width: 10vw;
  }
  .Enviar mensagem-Button {
    margin-left: 7vw;
  }

  #email{
    width: 20vw;
  }
  #username{
    width: 20vw;
  }
  #contact{
    width: 20vw;
  }
  .To-Signup-Schedule{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-left: 10px;
  }

  .Schedule-title {
    margin-left: -2.5vw;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 20vw;
    padding-left: 115px;
    margin-bottom: 0px;
  }
}